.header {
    background: linear-gradient(#ae0000, #0A0F1C);
    text-align: center;
    padding: 70px 5%; /* Padding lateral responsivo */
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.header p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.header .subP {
    font-style: italic;
    font-size: 14px;
    margin-top: 30px;
    color: #00B4D8;
}


.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content{
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #00B4D8 2px solid;
    border-radius: 10px;
    margin: 20px;
    width: 40vw;
    

}

.content img{
    width: 30vw;
}

.content h1{
    text-align: center;
    font-size: 1.5rem;
}

body.light-mode .header{
    background: linear-gradient(180deg, #ff7171, #f8f9fa);
}
@media (max-width: 768px) {
    .content{
        width: 90vw;
    }
    .content img{
        width: 80vw;
    }
}

