header{
    background-color: #00425A;
    display: flex;
    align-items: center;
    position: fixed;
}

header img{
    width: 30px;
    height: 30px;
}

main{
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1{
    text-align: center;
}

.header img{
    border-radius: 1vw;
}

.content{
    margin-top: 20px;
    max-width: 800px;
}

.info-header{
    text-align: center;
}

.info{
    margin-top: 30px;
    text-align: left;
}

.info h2{
    font-family: 'Poppins', sans-serif;
    color: #005f8a;
    font-size: 3.8vb;
    margin: 0;
}

.info img{
    width: 5dvw;
    height: 8dvh;
}


body.light-mode header{
    background-color: #48cae4;
}
body.light-mode header img{
    filter: invert(1);
}

@media (max-width: 768px) {
main{
    text-align: left;
}

.header img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5vw;
}

.info-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info img{
    width: 15dvw;
    height: 8dvh;
    margin-right: 10px;
}


}